* {
    box-sizing: border-box;
    font-family: 'Fontdiner Swanky';
    margin: 0;
    padding: 0;
}

body {
    background-color: #aeb5a9;
}




/* HEADER */
.headerContainer {
    background-color: #1e1f21;
    color: #ffffff;
    border-radius: 50px;
    margin: 10px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.headerLogo img {
    width: 200px;
}


/* display everything at the same size */
.headerLogo,
.headerTitle,
.headerLinks {
    flex: 1;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.headerLinks ul {
    display: flex;
    gap: 40px;
    margin: 30px;
    list-style-type: none;
}

.headerLinks a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.headerLinks a:hover {
    color: #008080;
    font-size: 25px;
    text-decoration: underline #008080;
}




/* How To Use */
.howToUseTitle h1 {
    text-align: center;
    margin-top: 40px;
}

.howToUseCards {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}

.howToUseCardGroup {
    width: 300px;
    max-height: fit-content;
    border: 3px solid #000000;
    border-radius: 7px;
    padding: 13px;
    text-align: center;
    box-shadow: 5px 5px 7px;
    transition: all 0.3s ease;
}

.howToUseCardGroup:hover {
    transform: scale(1.03);
}




/* Books section */
.newBookFormContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: all 0.3s ease;
}

#newBookForm {
    background-color: #1e1f21;
    width: 90%;
    max-width: 450px;
    border: 3px solid #aeb5a9;
    border-radius: 15px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.5);
    position: relative;
}

#newBookForm fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#newBookForm legend {
    color: #aeb5a9;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputGroup label {
    color: #aeb5a9;
    margin-bottom: 3px;
}

.inputGroup input {
    border: 1px solid #aeb5a9;
    border-radius: 8px;
    padding: 10px;
}

#hideFormButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #ff0000;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.booksContainer #showFormButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #1e1f21;
    color: #aeb5a9;
    font-size: 20px;
    padding: 13px;
    border: none;
    border-radius: 50px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.booksContainer #showFormButton:hover {
    transform: scale(1.07);
}

.booksContainer #showFormButton:active {
    transform: scale(0.93);
}




/* New book added */
.newBooksTitle {
    text-align: center;
    margin-top: 90px;
}

.newBooks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;
}

.newBookContainer {
    background-image: url(images/newBookCardBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #1e1f21;
    width: 300px;
    height: 400px;
    border: 3px solid #1e1f21;
    padding: 40px 25px;
    box-shadow: 5px 5px 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease;
    position: relative;
}

.newBookContainer:hover {
    transform: scale(1.03);
}


/* Change read status button */
.changeReadStatus {
    position: absolute;
    left: 25px;
    bottom: 40px;
    background-color: #1e1f21;
    color: #aeb5a9;
    border: none;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.changeReadStatus:hover {
    transform: scale(1.03);
}

.changeReadStatus:active {
    transform: scale(0.97);
}