* {
    box-sizing: border-box;
    font-family: 'Fontdiner Swanky';
    margin: 0;
    padding: 0;
}

body {
    background-color: #aeb5a9;
}




/* HEADER */
.headerContainer {
    background-color: #1e1f21;
    color: #ffffff;
    border-radius: 50px;
    margin: 10px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.headerLogo img {
    width: 200px;
}


/* display everything at the same size */
.headerLogo,
.headerTitle,
.headerLinks {
    flex: 1;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.headerLinks ul {
    display: flex;
    gap: 40px;
    margin: 30px;
    list-style-type: none;
}

.headerLinks a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.headerLinks a:hover {
    color: #008080;
    font-size: 25px;
    text-decoration: underline #008080;
}




/* How To Use */
.howToUseTitle h1 {
    text-align: center;
    margin-top: 40px;
}

.howToUseCards {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
}

.howToUseCardGroup {
    width: 300px;
    max-height: fit-content;
    border: 3px solid #000000;
    border-radius: 7px;
    padding: 13px;
    text-align: center;
    box-shadow: 5px 5px 7px;
    transition: all 0.3s ease;
}

.howToUseCardGroup p {
    display: none;
}

.howToUseCardGroup:hover {
    transform: scale(1.03);
}

.howToUseCardGroup:hover p {
    display: block;
}




/* Books section */
.newBookFormContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}




.booksContainer #showFormButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #1e1f21;
    color: #aeb5a9;
    font-size: 20px;
    padding: 13px;
    border: none;
    border-radius: 50px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.booksContainer #showFormButton:hover {
    transform: scale(1.07);
}

.booksContainer #showFormButton:active {
    transform: scale(0.93);
}